{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Brunette I Chats</title>
    <meta name="description" content="Chat application" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Toggles CSS -->
    <link href="{% static 'vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->
    
	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">  
        <div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
       
       	{% include "top_nav.html" %}
        
		{% include "vertical_nav.html" %}
		
        <!-- Main Content -->
        <div class="hk-pg-wrapper pb-0">
            <!-- Container -->
            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <div class="col-xl-12 pa-0">
                        <div class="chatapp-wrap">
                            <div class="chatapp-left">
                                <header>
                                    <span class="">Room's members</span>
                                </header>
                                <div class="chatapp-users-list">
                                    <div class="nicescroll-bar">
                                    	{% for member in member_list %}
                                        <a href="javascript:void(0);" class="media">
                                            <div class="media-body">
                                                <div>
                                                    <div class="user-name">{{member.mr_name}}</div>
                                                </div>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        <div class="chat-hr-wrap">
                                            <hr>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="chatapp-right">
                                <header>
									<span class="">Messages</span>
                                </header>
                                <div class="chat-body">
                                    <div class="nicescroll-bar">
                                        <ul class="list-unstyled" id="chat-log">
                                        	{% for message in message_list %}
                                            <li 
	                                            {% if message.ms_member.id == member.id %}
	                                            class="media sent">
	                                            {% else %}
	                                            class="media received">
                                                <div class="avatar">
                                                    <p>{{ message.ms_member.mr_name }}</p>
                                                </div>
	                                            {% endif %}
                                                <div class="media-body">
                                                    <div class="msg-box">
                                                        <div>
                                                            <p>{{ message.ms_text }}</p>
                                                            <span class="chat-time">{{ message.ms_create_date }}</span>
                                                            <div class="arrow-triangle-wrap">
                                                                <div class="arrow-triangle right"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <footer>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="btn-file  btn btn-light">
                                                <div class="btn-icon-wrap">
                                                    <span class="feather-icon"><i data-feather="paperclip"></i></span>
                                                    <input type="file">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" id="input_msg_send" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
                                        <div class="input-group-append">
                                            <button type="button" class="btn  btn-light  dropdown-toggle no-caret" data-toggle="dropdown"><span class="feather-icon"><i data-feather="at-sign"></i></span></button>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->
        </div>
        <!-- /Main Content -->

    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Slimscroll JavaScript -->
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

    <!-- Toggles JavaScript -->
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="{% static 'dist/js/feather.min.js' %}"></script>

    <!-- Toggles JavaScript -->
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
    <script src="{% static 'dist/js/toggle-data.js' %}"></script>

    <!-- Init JavaScript -->
    <script src="{% static 'dist/js/init.js' %}"></script>
    
    <script>
	    var roomName = {{ room_name_json }};
		var currentMember = {{ member.id }}
		var options = {year: 'numeric', month: 'long', day: 'numeric' ,hour: 'numeric', minute: 'numeric', second: 'numeric'};
	    var chatSocket = new WebSocket(
	        'ws://' + window.location.host +
	        '/ws/chat/' + roomName + '/');
	
		console.log('connect to socket: '+'ws://' + window.location.host + '/ws/chat/' + roomName + '/');
	    chatSocket.onmessage = function(e) {	    	
	        var data = JSON.parse(e.data);
	        var message = data['message'];
	        var member = data['member'];
	        var member_id = data['member_id'];
	        var message_time = new Date();
	        console.log('get data: '+message+' member:'+member+ 'message_time: '+message_time);
	        
	        var list = document.getElementById('chat-log');
	        
	        // var message_element = message
	        console.log('get data message_element: '+message);
	        if (member_id == currentMember){
	        	message_type = '<li class="media sent">'	
	        }else{
	        	message_type = '<li class="media received"><div class="avatar"><p>'+member+'</p></div>'	
	        }
	        
	        // $(message_type + '<div class="media-body"><div class="msg-box"><div><p>' + message + '</p><span class="chat-time">'+ message_time +'</span><div class="arrow-triangle-wrap"><div class="arrow-triangle left"></div></div></div></div></div></li>').insertAfter(".chatapp-right  ul li.media:last-child");
	        $(".chatapp-right  ul").append(message_type + '<div class="media-body"><div class="msg-box"><div><p>' + message + '</p><span class="chat-time">'+ message_time.toLocaleDateString("en-US",options) +'</span><div class="arrow-triangle-wrap"><div class="arrow-triangle left"></div></div></div></div></div></li>');
	    };
	
	    chatSocket.onclose = function(e) {
	        console.error('Chat socket closed unexpectedly');
	    };
	    chatSocket.onerror = function(e){
	    	console.error('Chat socket error: ' + e);
	    }
	
	    document.querySelector('#input_msg_send').focus();
	    document.querySelector('#input_msg_send').onkeyup = function(e) {
	    	if (e.keyCode === 13) {  // enter, return	    		
	    		var messageInputDom = document.getElementById('input_msg_send');
		        var message = messageInputDom.value;
		        console.log('send data: '+message);
		        chatSocket.send(JSON.stringify({
		            'message': message
		        }));
		        messageInputDom.value = '';
	        }
	    };
	</script>

</body>

</html>