{% extends 'main.html' %}
{% block content %}
<!-- Container -->
	<div class="container mt-xl-50 mt-sm-30 mt-15">
    	<!-- Title -->
        <div class="hk-pg-header align-items-top">
        	<div>
				<h2 class="hk-pg-title font-weight-600 mb-10">Chat stat:</h2>
			</div>					
		</div>
           <!-- /Title -->
           <!-- Row -->
			<div class="row">
				<div class="col-xl-12">
					<div class="hk-row">
						<div class="col-sm-12">
							<div class="card-group hk-dash-type-2">
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Rooms</span>
											</div>
										</div>
										<div>
											<span class="d-block display-4 text-dark mb-5"><span class="counter-anim">{{group_list|length}}</span></span>											
										</div>
									</div>
								</div>
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Members</span>
											</div>
										</div>
										<div>
											<span class="d-block display-4 text-dark mb-5"><span class="counter-anim">{{member_list|length}}</span></span>
										</div>
									</div>
								</div>			
								<div class="card card-sm">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-5">
											<div>
												<span class="d-block font-15 text-dark font-weight-500">Messages</span>
											</div>
										</div>
										<div>
											<span class="d-block display-4 text-dark mb-5"><span class="counter-anim">{{message_list|length}}</span></span>
										</div>
									</div>
								</div>		

							</div>
						</div>	
					</div>					
				</div>
			</div>
       <!-- /Row -->
	</div>
	<!-- /Container -->		

{% endblock content %}