{% load staticfiles %}
<!DOCTYPE html>
<!-- 
Template Name: Brunette - Responsive Bootstrap 4 Admin Dashboard Template
Author: Hencework
Contact: https://hencework.ticksy.com/

License: You must have a valid license purchased only from templatemonster to legally use the template for your project.
-->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Brunette I CRM Dashboard</title>    
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
	
	<!-- vector map CSS -->
    <link href="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" type="text/css" />

    <!-- Toggles CSS -->
    <link href="{% static 'vendors/jquery-toggles/css/toggles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}" rel="stylesheet" type="text/css">
	
	<!-- Toastr CSS -->
    <link href="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-it">
        <div class="loader-pendulums"></div>
    </div>
    <!-- /Preloader -->
	
	<!-- HK Wrapper -->
	<div class="hk-wrapper hk-vertical-nav">

        {% include "top_nav.html" %}

		{% include "vertical_nav.html" %}
		
		<!-- Main Content -->
        <div class="hk-pg-wrapper">
		 {% block content %}
         {% endblock content %}
		    <!-- Footer -->
            <div class="hk-footer-wrap container">
                <footer class="footer">

                </footer>
            </div>
            <!-- /Footer -->
        </div>
        <!-- /Main Content -->
    </div>
    <!-- /HK Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Slimscroll JavaScript -->
    <script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="{% static 'dist/js/feather.min.js' %}"></script>

    <!-- Toggles JavaScript -->
    <script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
    <script src="{% static 'dist/js/toggle-data.js' %}"></script>
	
	<!-- Counter Animation JavaScript -->
	<script src="{% static 'vendors/waypoints/lib/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'vendors/jquery.counterup/jquery.counterup.min.js' %}"></script>
	
	<!-- EChartJS JavaScript -->
    <script src="{% static 'vendors/echarts/dist/echarts-en.min.js' %}"></script>
    
	<!-- Sparkline JavaScript -->
    <script src="{% static 'vendors/jquery.sparkline/dist/jquery.sparkline.min.js' %}"></script>
	
	<!-- Vector Maps JavaScript -->
    <script src="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script src="{% static 'vendors/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'dist/js/vectormap-data.js' %}"></script>

	<!-- Owl JavaScript -->
    <script src="{% static 'vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
	
	<!-- Toastr JS 
    <script src="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script>
    -->
    <!-- Init JavaScript -->
    <script src="{% static 'dist/js/init.js' %}"></script>
	<script src="{% static 'dist/js/dashboard-data.js' %}"></script>
	
</body>

</html>