  <!-- Top Navbar -->
        <nav class="navbar navbar-expand-xl navbar-light fixed-top hk-navbar">
            <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><span class="feather-icon"><i data-feather="menu"></i></span></a>
            <div>
            {% if user.is_authenticated %}
            user: <b>{{ user.username }}</b>
            {% endif %}
            </div>           
        </nav>

        <!-- /Top Navbar -->